name: Build Docker Image

on:
  push:
    branches:
    - 'main'
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:

    - name: code checkout
      uses: actions/checkout@v3

    - name: Authenticate with GCP
      uses: google-github-actions/auth@v1
      with:
        credentials_json: ${{ secrets.GOOGLE_APPLICATION_CREDENTIALS }}
        
    - name: install the gcloud cli
      uses: google-github-actions/setup-gcloud@v1
      with:
        project_id: ${{ secrets.GOOGLE_PROJECT }}

    - name: build and push the docker image
      env:
        GOOGLE_PROJECT: ${{ secrets.GOOGLE_PROJECT }}
      run: |
        gcloud auth configure-docker us-central1-docker.pkg.dev
        docker build -f /eurekaservice/Dockerfile -t us-central1-docker.pkg.dev/$GOOGLE_PROJECT/microservices/eurekaservice:latest .
        docker push us-central1-docker.pkg.dev/$GOOGLE_PROJECT/microservices/eurekaservice:latest
